<div class="container-fluid">
    <div class="tab-content">


        <div class="tab-pane fade in active" id="tab1" style="margin-top:20px">
            <div class="panel panel-default">

                <div class="panel-body">

                    <div class="form-group">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">卷别</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="voucherName"
                                           placeholder="卷别">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">金额</label>
                                <div class="col-sm-10">
                                    <select class="form-control" ng-model="voucher"
                                            ng-options="row.desc group by row.typeDesc for row in vouchers"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group" style="margin-bottom:0">
                                <div class="text-center">
                                    <button class="btn btn-primary btn-lg" ng-click="addVoucher(voucherName,voucher)">
                                        增加
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <table ng-table="totalTables" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>劵别</th>
                            <th>金额</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="row in voucherList track by $index">
                            <td align="center"> {{row.name}}</td>
                            <td align="center"> {{row.desc}}</td>
                            <td align="center">
                                <button class="btn btn-danger" ng-click="removeVoucher(row)">删除</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>


<footer class="cm-footer"><span class="pull-left"></span><span class="pull-right">技术支持：贵州新启程档案服务有限责任公司</span></footer>

