<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>mail template</title></head>
<body>
<div>
    <h1>邮件是否发送成功呢</h1><br/><br/>
    <p>链接正常吗</p><br/>
    <a href="http://zhctht.51ping.com/#/">运营后台</a><br>
    <p>图片正常吗</p><br>>
    <img src="http://p0.meituan.net/orderdishyy/e578be3e8d2b1ccbaadb68e106f52124113955.jpg" width="304" height="228">
</div>
</body>
</html>