<!DOCTYPE html>
<html lang="zh-CN">
<body>

<div class="container-fluid">
    <br>
    <br>
    <nav class="cm-navbar cm-navbar-default cm-navbar-slideup">
        <div class="cm-flex">
            <div class="nav-tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="" data-toggle="tab" ng-click="tabShow(1)">入库录入</a></li>
                    <li><a href="" data-toggle="tab" ng-click="tabShow(2)">入库操作(删除|修改|搜索)</a></li>
                    <li><a href="" data-toggle="tab" ng-click="tabShow(3)">出库录入</a></li>
                    <li><a href="" data-toggle="tab" ng-click="tabShow(4)">出库操作(删除|修改|搜索)</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1" style="margin-top:20px" ng-show="tab1">
            <div class="panel panel-default">
                <div class="row cm-fix-height">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"></div>
                            <div class="panel-body">
                                <form class="form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">货币类型</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="currency.currencyType"
                                                    ng-options="currencyType.des for currencyType in currencyTypelis"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">货币版本</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" ng-model="currency.version"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">数量</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" ng-model="currency.count"
                                                   placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">货币单位</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="currency.unit"
                                                    ng-options="currencyUnit.des for currencyUnit in currencyUnitlis"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">货币附件属性</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="currency.attribute"
                                                    ng-options="currencyAttribute.des for currencyAttribute in currencyAttributelis"></select>
                                        </div>
                                    </div>

                                    <div class="form-group" style="margin-bottom:0">
                                        <div class="text-center">
                                            <button class="btn btn-primary btn-lg" ng-click="insertCurrency(currency)">
                                                录入
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-pane fade in active" id="tab2" style="margin-top:20px" ng-show="tab2">
            <div class="panel panel-default">

                <div class="panel-body">

                    <div class="form-group">
                        <div class="col-sm-6">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">创建时间</label>
                                    <div class="col-sm-9">
                                        <input type="date" ng-model="jdate" value="{{jdate}}"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" style="margin-bottom:0">
                                <div class="text-center">
                                    <button class="btn btn-primary btn-lg" ng-click="searchCurrency(jdate)">
                                        查询
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table ng-table="totalTables" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>创建时间</th>
                            <th>操作人员</th>
                            <th>流水号</th>
                            <th>类型</th>
                            <th>数量</th>
                            <th>单位</th>
                            <th>属性</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="db in $data">
                            <td align="center"> {{db.createTime}}</td>
                            <td align="center"> {{db.operator}}</td>
                            <td align="center"> {{db.id}}</td>
                            <td align="center"> {{db.type}}</td>
                            <td align="center"> {{db.count}}</td>
                            <td align="center"> {{db.unit}}</td>
                            <td align="center"> {{db.attribute}}</td>
                            <td align="center"><a href="">删除</a> <a href="">修改</a></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>


        <div class="tab-pane fade in active" id="tab3" style="margin-top:20px" ng-show="tab3">
            <div class="panel panel-default">
                <div class="row cm-fix-height">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"></div>
                            <div class="panel-body">
                                <form class="form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">货币类型</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="currency.currencyType"
                                                    ng-options="currencyType.des for currencyType in currencyTypelis"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">货币版本</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" ng-model="currency.version"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">数量</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" ng-model="currency.count"
                                                   placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">货币单位</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="currency.unit"
                                                    ng-options="currencyUnit.des for currencyUnit in currencyUnitlis"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">货币附件属性</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="currency.attribute"
                                                    ng-options="currencyAttribute.des for currencyAttribute in currencyAttributelis"></select>
                                        </div>
                                    </div>

                                    <div class="form-group" style="margin-bottom:0">
                                        <div class="text-center">
                                            <button class="btn btn-primary btn-lg" ng-click="insertCurrency(currency)">
                                                录入
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<footer class="cm-footer"><span class="pull-left"></span><span class="pull-right">技术支持：贵州新启程档案服务有限责任公司</span></footer>

</body>
</html>