<div class="container-fluid">
    <br>
    <br>
    <nav class="cm-navbar cm-navbar-default cm-navbar-slideup">
        <div class="cm-flex">
            <div class="nav-tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="" data-toggle="tab" ng-click="tabShow(1)">库存(查询|删除|提交)</a></li>
                    <li><a href="" data-toggle="tab" ng-click="tabShow(2)">入库</a></li>
                    <li><a href="" data-toggle="tab" ng-click="tabShow(3)">出库</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div class="tab-content">


        <div class="tab-pane fade in active" id="tab1" style="margin-top:20px" ng-show="tab1">
            <div class="panel panel-default">

                <div class="panel-body">

                    <div class="form-group">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">附加展示信息</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="commonInfo"
                                           placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" style="margin-bottom:0">
                                <div class="text-center">
                                    <button class="btn btn-primary btn-lg" ng-click="sendMsg(commonInfo)">
                                        全部提交
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <table ng-table="totalTables" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>卷别</th>
                            <th>类型</th>
                            <th>箱（袋）数</th>
                            <th>捆数</th>
                            <th>把数</th>
                            <th>盒数</th>
                            <th>金额(元)</th>
                            <th>录入时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="stock in stockList">
                            <td align="center"> {{stock.voucherName}}</td>
                            <td align="center"> {{stock.typeDesc}}</td>
                            <td align="center"> {{stock.xiangCount||stock.daiCount}}</td>
                            <td align="center"> {{stock.kunCount}}</td>
                            <td align="center"> {{stock.baCount}}</td>
                            <td align="center"> {{stock.heCount}}</td>
                            <td align="center"> {{stock.amount}}</td>
                            <td align="center"> {{stock.createTime}}</td>
                            <td align="center">
                                <button class="btn btn-danger" ng-click="removeStock(stock.stockUid)">删除</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>


        <div class="tab-pane fade in active" id="tab2" style="margin-top:20px" ng-show="tab2">
            <div class="panel panel-default">
                <div class="row cm-fix-height">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"></div>
                            <div class="panel-body">
                                <form class="form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">卷别</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="enterStock.voucher"
                                                    ng-options="row.name group by row.typeDesc for row in voucherLis"
                                                    ng-change="chgEnterVoucher()"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">类型</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="enterStock.type"
                                                    ng-options="row.desc group by row.typeDesc for row in voucherTypes"
                                                    ng-change="chgEnterVoucher()"></select>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="xiangShow">
                                        <label class="col-sm-2 control-label">箱数</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="enterStock.xiangCount"
                                                   ng-keyup="mustInt(enterStock , 'xiangCount')"
                                                   placeholder="" ng-change="chgEnterAmount()">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="daiShow">
                                        <label class="col-sm-2 control-label">袋数</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="enterStock.daiCount"
                                                   ng-keyup="mustInt(enterStock , 'daiCount')"
                                                   placeholder="" ng-change="chgEnterAmount()">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="kunShow">
                                        <label class="col-sm-2 control-label">捆数</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="enterStock.kunCount"
                                                   ng-keyup="mustInt(enterStock , 'kunCount')"
                                                   placeholder="" ng-change="chgEnterAmount()">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="baShow">
                                        <label class="col-sm-2 control-label">把数</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="enterStock.baCount"
                                                   ng-keyup="mustInt(enterStock , 'baCount')"
                                                   placeholder="" ng-change="chgEnterAmount()">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="heShow">
                                        <label class="col-sm-2 control-label">盒数</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="enterStock.heCount"
                                                   ng-keyup="mustInt(enterStock , 'heCount')"
                                                   placeholder="" ng-change="chgEnterAmount()">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">金额(元)</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="enterStock.amount"
                                                   disabled="disabled"
                                                   placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group" style="margin-bottom:0">
                                        <div class="text-center">
                                            <button class="btn btn-primary btn-lg" ng-click="addStock(enterStock)">
                                                入库
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-pane fade in active" id="tab3" style="margin-top:20px" ng-show="tab3">
            <div class="panel panel-default">
                <div class="row cm-fix-height">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"></div>
                            <div class="panel-body">
                                <form class="form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">卷别</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="enterStock.voucher"
                                                    ng-options="row.name group by row.typeDesc for row in voucherLis"
                                                    ng-change="chgEnterVoucher()"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">类型</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="enterStock.type"
                                                    ng-options="row.desc group by row.typeDesc for row in voucherTypes"
                                                    ng-change="chgEnterVoucher()"></select>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="xiangShow">
                                        <label class="col-sm-2 control-label">箱数</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="enterStock.xiangCount"
                                                   ng-keyup="mustInt(enterStock , 'xiangCount')"
                                                   placeholder="" ng-change="chgEnterAmount()">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="daiShow">
                                        <label class="col-sm-2 control-label">袋数</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="enterStock.daiCount"
                                                   ng-keyup="mustInt(enterStock , 'daiCount')"
                                                   placeholder="" ng-change="chgEnterAmount()">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="kunShow">
                                        <label class="col-sm-2 control-label">捆数</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="enterStock.kunCount"
                                                   ng-keyup="mustInt(enterStock , 'kunCount')"
                                                   placeholder="" ng-change="chgEnterAmount()">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="baShow">
                                        <label class="col-sm-2 control-label">把数</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="enterStock.baCount"
                                                   ng-keyup="mustInt(enterStock , 'baCount')"
                                                   placeholder="" ng-change="chgEnterAmount()">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="heShow">
                                        <label class="col-sm-2 control-label">盒数</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="enterStock.heCount"
                                                   ng-keyup="mustInt(enterStock , 'heCount')"
                                                   placeholder="" ng-change="chgEnterAmount()">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">金额(元)</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="enterStock.amount"
                                                   disabled="disabled"
                                                   placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group" style="margin-bottom:0">
                                        <div class="text-center">
                                            <button class="btn btn-primary btn-lg" ng-click="addStock(enterStock)">
                                                出库
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<footer class="cm-footer"><span class="pull-left"></span><span class="pull-right">技术支持：贵州新启程档案服务有限责任公司</span></footer>

